<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    {% extends "base/base.html" %}
    {% block extrahead %}
    <title>Home</title>
    {% endblock extrahead %}
    {% block content %}
    <div class="container">
        <h1>Home de la applicacion</h1>
        <p>Este es el home de la aplicacion</p>
    </div>
    {% endblock content %}
</head>
</body>
<body>
</html>
